@font-face {
  font-family: "Kanit-Light";
  src: local("Kanit-Light"), url(./fonts/Kanit-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Kanit-Medium";
  src: local("Kanit-Medium"), url(./fonts/Kanit-Medium.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Kanit-Light", "Kanit-Medium", "Roboto", "Oxygen", "Ubuntu",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Kanit-Light", monospace;
}